In [2]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

## NASA Mars News

In [3]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser= Browser('chrome', **executable_path, headless=False)
url = 'https://redplanetscience.com/'
browser.visit(url)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 102.0.5005
[WDM] - Get LATEST chromedriver version for 102.0.5005 google-chrome
[WDM] - Driver [C:\Users\vanem\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver.exe] found in cache

Scrape the Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [4]:
html = browser.html
soup = bs(html, "html.parser")

In [6]:
news_title = soup.find_all('div', class_="content_title")
for title in news_title:
    print(title.text)
    news_title= title.text

NASA's Mars Perseverance Rover Gets Its Sample Handling System
3 Things We've Learned From NASA's Mars InSight
Mars 2020 Unwrapped and Ready for More Testing
NASA's Curiosity Mars Rover Snaps Its Highest-Resolution Panorama Yet
New Selfie Shows Curiosity, the Mars Chemist
Robotic Toolkit Added to NASA's Mars 2020 Rover
NASA's Mars 2020 Rover Goes Coast-to-Coast to Prep for Launch
NASA's Perseverance Rover Attached to Atlas V Rocket
From JPL's Mailroom to Mars and Beyond
Q&A with the Student Who Named Ingenuity, NASA's Mars Helicopter
Join NASA for the Launch of the Mars 2020 Perseverance Rover
NASA to Reveal Name of Its Next Mars Rover
NASA Administrator Statement on Moon to Mars Initiative, FY 2021 Budget
NASA's Perseverance Mars Rover Gets Balanced
NASA's Mars Helicopter Attached to Mars 2020 Rover

In [7]:
news_p = soup.find_all('div', class_= 'article_teaser_body')
for paragraph in news_p:
    print(paragraph.text)
    news_p= paragraph.text

The system will be collecting and storing Martian rock and soil. Its installation marks another milestone in the march toward the July launch period.
Scientists are finding new mysteries since the geophysics mission landed two years ago.
In time-lapse video, bunny-suited engineers remove the inner layer of protective foil on NASA's Mars 2020 rover after it was relocated for testing.
To go along with the stunning 1.8-billion-pixel image, a new video offers a sweeping view of the Red Planet.
The NASA rover performed a special chemistry experiment at the location captured in its newest self-portrait.
The bit carousel, which lies at the heart of the rover's Sample Caching System, is now aboard NASA's newest rover.
The agency's first step in returning rocks from Mars just arrived at Kennedy Space Center. The Mars 2020 team now begins readying for a launch to the Red Planet this July.
Ready for its launch later in the month, the Mars-bound rover will touch terra firma no more.
Bill Allen has thrived as the mechanical systems design lead for three Mars rover missions, but he got his start as a teenager sorting letters for the NASA center.
As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.
No matter where you live, choose from a menu of activities to join NASA as we "Countdown to Mars" and launch the Perseverance rover to the Red Planet.
After a months-long contest among students to name NASA's newest Mars rover, the agency will reveal the winning name — and the winning student — this Thursday.
Jim Bridenstine addresses NASA's ambitious plans for the coming years, including Mars Sample Return.
The mission team performed a crucial weight-balancing test on the rover in preparation for this summer's history-making launch to the Red Planet.
The helicopter will be first aircraft to perform flight tests on another planet.

## JPL Mars Space Images - Featured Image

In [174]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser= Browser('chrome', **executable_path, headless=False)
url = 'https://spaceimages-mars.com/'
browser.visit(url)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 102.0.5005
[WDM] - Get LATEST chromedriver version for 102.0.5005 google-chrome
[WDM] - Driver [C:\Users\vanem\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver.exe] found in cache

In [175]:
html = browser.html
images_soup = bs(html, "html.parser")

Visit the url for the Featured Space Image page here.

In [176]:
images = images_soup.find_all('img', class_='headerimage fade-in')
for img in images:
    if img.has_attr('src'):
        print(img['src'])
        image=img['src']

image/featured/mars1.jpg

Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.

In [177]:
featured_image_url =  f'https://spaceimages-mars.com/{image}'
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

## Mars Facts

Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

In [178]:
url_mars = 'https://galaxyfacts-mars.com/'

In [179]:
tables = pd.read_html(url_mars)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [200]:
comparison_df = tables[0]
comparison_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [201]:
comparison_df = comparison_df.drop([0], axis = 0)
comparison_df

                    0                1                2
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C

In [202]:
cols = list(comparison_df.columns)
cols[0] = "Mars - Earth Comparison"
cols[1] = "Mars"
cols[2]= "Earth"
comparison_df.columns = cols
comparison_df.head()

  Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days

In [203]:
df = comparison_df.reset_index(drop=True)
df.head()

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days

Use Pandas to convert the data to a HTML table string.

In [184]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [185]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars - Earth Comparison</th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>1</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>2</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>3</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>4</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>5</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [186]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser= Browser('chrome', **executable_path, headless=False)
url = 'https://marshemispheres.com/'
browser.visit(url)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 102.0.5005
[WDM] - Get LATEST chromedriver version for 102.0.5005 google-chrome
[WDM] - Driver [C:\Users\vanem\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver.exe] found in cache

In [187]:
html = browser.html
hemisphere_soup = bs(html, "html.parser")

In [188]:
hemis_html = hemisphere_soup.find_all('a',class_="itemLink product-item")

hemis=[]
for x in hemis_html:
   if x.has_attr('href'):
        hemis.append(x['href'])
        



hemis_links =[]
for x in hemis:
    if x not in hemis_links:
        hemis_links.append(x)

hemis_links = hemis_links[0:4]
hemis_links

['cerberus.html', 'schiaparelli.html', 'syrtis.html', 'valles.html']

In [189]:
cerberus_html = url + hemis_links[0]
schiap_html= url + hemis_links[1]
syrtis_html = url + hemis_links [2]
valles_html = url + hemis_links[3]
print(cerberus_html,schiap_html, syrtis_html, valles_html)

https://marshemispheres.com/cerberus.html https://marshemispheres.com/schiaparelli.html https://marshemispheres.com/syrtis.html https://marshemispheres.com/valles.html

In [190]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser= Browser('chrome', **executable_path, headless=False)
browser.visit(cerberus_html)
html = browser.html
cerberus_soup = bs(html, "html.parser")

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 102.0.5005
[WDM] - Get LATEST chromedriver version for 102.0.5005 google-chrome
[WDM] - Driver [C:\Users\vanem\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver.exe] found in cache

In [191]:

cerberus_img = cerberus_soup.find_all('img', class_='wide-image')
for img in cerberus_img:
    if img.has_attr('src'):
        cerb=img['src']

cerberus_image_url =url + cerb
cerberus_image_url

'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [192]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser= Browser('chrome', **executable_path, headless=False)
browser.visit(schiap_html)
html = browser.html
schiap_soup = bs(html, "html.parser")

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 102.0.5005
[WDM] - Get LATEST chromedriver version for 102.0.5005 google-chrome
[WDM] - Driver [C:\Users\vanem\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver.exe] found in cache

In [193]:
schiap_img = schiap_soup.find_all('img', class_='wide-image')
for img in schiap_img:
    if img.has_attr('src'):
        schi=img['src']

schiap_image_url =url + schi
schiap_image_url

'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'

In [194]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser= Browser('chrome', **executable_path, headless=False)
browser.visit(syrtis_html)
html = browser.html
syrtis_soup = bs(html, "html.parser")

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 102.0.5005
[WDM] - Get LATEST chromedriver version for 102.0.5005 google-chrome
[WDM] - Driver [C:\Users\vanem\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver.exe] found in cache

In [195]:
syrtis_img = syrtis_soup.find_all('img', class_='wide-image')
for img in syrtis_img:
    if img.has_attr('src'):
        syrt=img['src']

syrtis_image_url =url + syrt
syrtis_image_url

'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'

In [196]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser= Browser('chrome', **executable_path, headless=False)
browser.visit(valles_html)
html = browser.html
valles_soup = bs(html, "html.parser")

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 102.0.5005
[WDM] - Get LATEST chromedriver version for 102.0.5005 google-chrome
[WDM] - Driver [C:\Users\vanem\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver.exe] found in cache

In [197]:
valles_img = valles_soup.find_all('img', class_='wide-image')
for img in valles_img:
    if img.has_attr('src'):
        valles=img['src']

valles_image_url =url + valles
valles_image_url

'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'

In [198]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": valles_image_url},
    {"title": "Cerberus Hemisphere", "img_url": cerberus_image_url},
    {"title": "Schiaparelli Hemisphere", "img_url": schiap_image_url},
    {"title": "Syrtis Major Hemisphere", "img_url": syrtis_image_url},
]
hemisphere_image_urls

[{'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'},
 {'title': 'Cerberus Hemisphere',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}]