In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
import time
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

## NASA Mars News

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser= Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 102.0.5005
[WDM] - Get LATEST chromedriver version for 102.0.5005 google-chrome
[WDM] - Driver [C:\Users\vanem\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver.exe] found in cache

Scrape the Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [3]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:

html = browser.html
news_soup = soup(html, "html.parser")

In [5]:
news_title = news_soup.find('div', class_="content_title").text


news_title

"NASA's Mars Perseverance Rover Gets Its Sample Handling System"

In [6]:
news_p = news_soup.find('div', class_= 'article_teaser_body').text
news_p

'The system will be collecting and storing Martian rock and soil. Its installation marks another milestone in the march toward the July launch period.'

## JPL Mars Space Images - Featured Image

In [7]:

url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [8]:
html = browser.html
images_soup = soup(html, "html.parser")

Visit the url for the Featured Space Image page here.

In [9]:
images = images_soup.find_all('img', class_='headerimage fade-in')
for img in images:
    if img.has_attr('src'):
        print(img['src'])
        image=img['src']

image/featured/mars2.jpg

Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.

In [10]:
featured_image_url =  url + image
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

## Mars Facts

Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

In [11]:
url_mars = 'https://galaxyfacts-mars.com/'

In [12]:
tables = pd.read_html(url_mars)[0]
tables

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [13]:
tables.columns=['Description', 'Mars', 'Earth']
tables.set_index('Description', inplace=True)
tables

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

Use Pandas to convert the data to a HTML table string.

In [14]:
html_table = tables.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [15]:

url = 'https://marshemispheres.com/'
browser.visit(url)

In [16]:
html = browser.html
hemisphere_soup = soup(html, "html.parser")

In [17]:
hemis_html = hemisphere_soup.find_all('a',class_="itemLink product-item")

hemis=[]
for x in hemis_html:
   if x.has_attr('href'):
        hemis.append(x['href'])
        



hemis_links =[]
for x in hemis:
    if x not in hemis_links:
        hemis_links.append(x)

hemis_links = hemis_links[0:4]
hemis_links

['cerberus.html', 'schiaparelli.html', 'syrtis.html', 'valles.html']

In [18]:
cerberus_html = url + hemis_links[0]
schiap_html= url + hemis_links[1]
syrtis_html = url + hemis_links [2]
valles_html = url + hemis_links[3]
print(cerberus_html,schiap_html, syrtis_html, valles_html)

https://marshemispheres.com/cerberus.html https://marshemispheres.com/schiaparelli.html https://marshemispheres.com/syrtis.html https://marshemispheres.com/valles.html

In [19]:

browser.visit(cerberus_html)
html = browser.html
cerberus_soup = soup(html, "html.parser")

In [20]:

cerberus_img = cerberus_soup.find_all('img', class_='wide-image')
for img in cerberus_img:
    if img.has_attr('src'):
        cerb=img['src']

cerberus_image_url =url + cerb
cerberus_image_url

'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [21]:

browser.visit(schiap_html)
html = browser.html
schiap_soup = soup(html, "html.parser")

In [22]:
schiap_img = schiap_soup.find_all('img', class_='wide-image')
for img in schiap_img:
    if img.has_attr('src'):
        schi=img['src']

schiap_image_url =url + schi
schiap_image_url

'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'

In [23]:

browser.visit(syrtis_html)
html = browser.html
syrtis_soup = soup(html, "html.parser")

In [24]:
syrtis_img = syrtis_soup.find_all('img', class_='wide-image')
for img in syrtis_img:
    if img.has_attr('src'):
        syrt=img['src']

syrtis_image_url =url + syrt
syrtis_image_url

'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'

In [25]:

browser.visit(valles_html)
html = browser.html
valles_soup = soup(html, "html.parser")

In [26]:
valles_img = valles_soup.find_all('img', class_='wide-image')
for img in valles_img:
    if img.has_attr('src'):
        valles=img['src']

valles_image_url =url + valles
valles_image_url

'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'

In [27]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": valles_image_url},
    {"title": "Cerberus Hemisphere", "img_url": cerberus_image_url},
    {"title": "Schiaparelli Hemisphere", "img_url": schiap_image_url},
    {"title": "Syrtis Major Hemisphere", "img_url": syrtis_image_url},
]
hemisphere_image_urls

[{'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'},
 {'title': 'Cerberus Hemisphere',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}]